.mid_block
  .container
    .row
      .col-md-12
        %h4 Sponsor self.conference!
        %p
          Looking for a great way to be visible in a sea of 450 amazing and passionate
          humans from the software industry? Sponsoring self.conference 2015 could
          be just what you need! Self.conference will be chock-full of amazing
          people who are looking to learn and grow, and looking for companies
          that will help them in that endeavor through employment and partnerships.
          Sponsoring a local tech event like self.conference is the perfect way
          to let all of the awesome developers, designers, project managers,
          software enthusiasts who are in attendance know that yours is the kind
          of company that invests in a strong software community, and believes in
          the continuous growth and learning of its employees and partners. If this
          sounds like an amazing opportunity, take a look at this year's sponsor
          prospectus, we'd love to talk to you about it!
        .center-wrapper
          =link_to "sponsor prospectus", "https://s3.amazonaws.com/selfconf/files/2015-sponsor-prospectus.pdf", {class: "orange-btn"}

.color-line
  .colored_line_a>
  .colored_line_b>
  .colored_line_c>
  .colored_line_d>
  .colored_line_e>
