= render partial: "shared/header", event: @event

%table#users_table
  %thead
    %tr
      %th Name
      %th Votes

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.votes.count
