= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        %h4 Contact Us
        %p
          Having trouble? Please email us at hello@selfconference.org or call us at (734) 660-0754.
