= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        %p Looking for a great way to be visible in a sea of amazing and passionate humans from the software industry? Sponsoring self.conference could be just what you need! Self.conference will be chock-full of amazing people who are looking to learn and grow, and looking for companies that will help them in that endeavor through employment and partnerships. Sponsoring a local tech event like self.conference is the perfect way to let all of the awesome developers, designers, project managers, and software enthusiasts who are in attendance know that yours is the kind of company that invests in a strong software community, and believes in the continuous growth and learning of its employees and partners. If this sounds like an amazing opportunity, take a look at this year's sponsor prospectus, we'd love to talk to you about it!

        %h3 Sponsorships

        %h4 Platinum - $10,000 (Limited to 3)
        %p
          As a platinum sponsor of Self.conference, your company will receive:
          %ul
            %li First selection of a booth at the conference
            %li Your Company’s name on a meeting room, with signage of your choice at the front of the room (Room choice is in order of sponsorship)
            %li Your logo on our website, any flyers, and on emails to our 2300 person mailing list
            %li 10 free conference passes
            %li Contribute any number of items to raffle off at the end of the conference
            %li A spot in the attendee bag for an insert
            %li Our gratitude on social media

        %h4 Gold - $5,000 (Limited to 5)
        %p
          As a gold sponsor of Self.conference, your company will receive:
          %ul
            %li Second selection of a booth at the conference
            %li Your logo on our website, any flyers, and on emails to our 2300 person mailing list
            %li 5 free conference passes
            %li Contribute up to 3 items to raffle off at the end of the conference
            %li A spot in the attendee bag for an insert
            %li Our gratitude on social media

        %h4 Silver - $3,000 (Limited to 10)
        %p
          As a silver sponsor of Self.conference, your company will receive:
          %ul
            %li Third selection of a booth at the conference
            %li Your logo on our website and any flyers
            %li 3 free conference passes
            %li Contribute up to 2 items to raffle off at the end of the conference
            %li A spot in the attendee bag for an insert
            %li Our gratitude on social media

        %h4 Bronze - $1,500
        %p
          As a bronze sponsor of Self.conference, your company will receive:
          %ul
            %li A booth at the conference
            %li Contribute 1 item to raffle off at the end of the conference
            %li Your logo on our website
            %li 1 free conference pass
            %li A spot in the attendee bag for an insert
            %li Our gratitude on social media

        %h4 Indie - $100
        %p As an independent sponsor, your company will have a logo on the website and a spot on the community table to leave materials. This kind of sponsorship is limited to user groups and independent consultants. If you are a human and not a user group, we’ll put your name on the site instead of a logo. Unless you have a sweet logo of your name.

        %h4 Diversity - $500
        %p Your sponsorship will go directly to someone from a group generally underrepresented in technology who wants to attend self.conference. These funds will provide a scholarship winner with a ticket, as well as help with travel and lodging. Your company will have a logo on the website as a diversity sponsor, as well as an extra bit of gratitude on social media.

        %h4 Attendee Party - $2,500 (Limited to 4)
        %p Having your logo all over our lavish attendee party as attendees mix and mingle is a great way to make yourself visible to our attendees! The attendee party sponsors will also have a logo on our website and any printed materials with regards to the attendee party, as well as many public thanks via social media and a speaking opportunity at the party.

        %h4 Lanyard - $1,500 (Limited to 1)
        %p Want to stay front and center with our attendees for their entire two-day adventure at Self.conference? Sponsoring our attendee lanyards means your company’s branding will appear on all attendee lanyards.

        %h3 What does all of this money go to?
        %p Lots of things! For example:

        %h4 Facilities
        %p Self.conference will be held at the fabulous Greektown Casino. Your sponsorship will help us pay for a gorgeous keynote area and two fantastic breakout rooms full of happy, learning software community members.

        %h4 Food
        %p We will be providing lunch and snacks for our happy, hungry developers on both days of the conference, as well as coffee, tea and water to keep them energized!

        %h4 Speaker Travel Expenses
        %p Our speakers come from near and far. Some of our speakers have come from as far away as Belgium and London! We’d love to help this year’s speakers with as much travel and lodging as possible to thank them for being a part of our conference here in Detroit.

        %h3 We’d love to sponsor Self.conference!
        %p
          Fantastic! Just send us an email at
          %a{ahref: "mailto:sponsors@selfconference.org"} sponsors@selfconference.org
          with your sponsorship level/ideas and we will get back to you with details. Thank you so much for helping make this local conference great!
