.mid_block
  .container
    .row
      .col-md-12
        %h4 Diversity Scholarships
        %p Self.conference is committed to supporting a diverse, inclusive software community. As such, we are offering a scholarship program to make Self.conference 2015 accessible to people from traditionally underrepresented groups in technology who also have financial need.
        %p We hope to be able to accommodate all requests; however, as this is the first year we have offered this program and diversity scholarships are dependent upon sponsor support, we are not certain how many scholarships we will be able to offer. Scholarships will be awarded based on financial need and impact.
        %p
          Eligibility: Applicants must be a member of an underrepresented group in technology and be
          %span.underline unable to attend without financial assistance
          ="."
        %p The application period ends on April 20th, and we'll notify applicants of our decision on April 27th.
        .center-wrapper
          =link_to "Click here to apply", new_scholarship_application_path, {class: "orange-btn"}

.color-line
  .colored_line_a>
  .colored_line_b>
  .colored_line_c>
  .colored_line_d>
  .colored_line_e>
