= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        %h4 Thank you for submitting your application!
        %p We have received your application for a scholarship to Self.conference 2015 and are so excited that you'd like to be a part of the conference this year. We'll review all applications once the application period ends on April 20th and notify you of our decision by April 27th!
