.mid_block
  .container
    .row
      .col-md-12
        %h4 Thank you for submitting your application!
        %p We have received your application for a scholarship to Self.conference 2015 and are so excited that you'd like to be a part of the conference this year. We'll review all applications once the application period ends on April 27th and notify you of our decision by May 4th!

.color-line
  .colored_line_a>
  .colored_line_b>
  .colored_line_c>
  .colored_line_d>
  .colored_line_e>
