#admin-schedule
  .session
    border: 1px solid $purple
    margin-bottom: 5px
    border-radius: 5px
    padding: 10px
    width: 186px
    height: 160px

  .session-list
    border: 1px solid $orange
    border-radius: 5px
    padding: 10px
    font-size: .75em
    line-height: 150%

  .slot
    width: 186px
    height: 160px
