= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        = react_component "Submissions",
              submissions: JSON.parse(Submission.where(event_id: @event).to_json(include: :votes)),
              user: current_user
