= render partial: "shared/header", event: @event
- submissions = Submission.includes(:votes).where(event_id: @event, votes: { submission_id: nil })

.mid_block
  .container
    .row
      .col-md-12
        = react_component "Submissions",
              submissions: JSON.parse(submissions.to_json(include: :votes)),
              user: current_user
