= render partial: "shared/header", event: @event
= render partial: "shared/logged_in", event: @event
- submissions = Submission.includes(:votes).where(event_id: @event)

.mid_block
  .container
    .row
      .col-md-12
        = react_component "Submissions",
              submissions: JSON.parse(submissions.to_json(include: [:votes, :user])),
              admin: true
